Marketing-AI-Agent-Updated.json
{
  "name": "Marketing AI Agent - Main Agent (with Marketing OS Callback)",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id || $('Webhook').item.json.body.campaignId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        640,
        224
      ],
      "id": "10e29cd7-720c-4dd2-888f-fa0df5973e52",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "name": "editImage",
        "description": "Call this tool to edit an image.",
        "workflowId": {
          "__rl": true,
          "value": "l0gFdbpOikKKr87U",
          "mode": "list",
          "cachedResultName": "Shared Folder — Edit an Image - Sub Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "image": "={{ $fromAI('image', 'The title of the image the user wants to edit', 'string') }}",
            "chatID": "={{ $('Telegram Trigger').item.json.message.chat.id || 'web' }}",
            "request": "={{ $fromAI('request', 'The edit the user wants to make to the image', 'string') }}",
            "imageID": "={{ $fromAI('imageID', 'The ID of the image to edit', 'string') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        752,
        192
      ],
      "id": "65f1349a-bc13-43a2-ae57-70d9068107f9",
      "name": "Edit Image"
    },
    {
      "parameters": {
        "name": "searchImages",
        "description": "Call this tool to search the image database.",
        "workflowId": {
          "__rl": true,
          "value": "LGbYqBMuzeICF4H3",
          "mode": "list",
          "cachedResultName": "Shared Folder — Search Images - Sub Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "intent": "={{ $fromAI('intent', 'The intent of the user. This can either be \"Get\" or \"Edit\"', 'string') }}",
            "image": "={{ $fromAI('image', 'The image title', 'string') }}",
            "chatID": "={{ $('Telegram Trigger').item.json.message.chat.id || 'web' }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        880,
        192
      ],
      "id": "00e50520-012c-4856-a3f8-326594d827e6",
      "name": "Search Images"
    },
    {
      "parameters": {
        "name": "blogPost",
        "description": "Call this tool to create a blog post using a topic and a target audience.",
        "workflowId": {
          "__rl": true,
          "value": "EHJfDDSvSzSDdErk",
          "mode": "list",
          "cachedResultName": "Shared Folder — Blog Post - Sub Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "blogTopic": "={{ $fromAI('blogTopic', 'The topic of the blog.', 'string') }}",
            "targetAudience": "={{ $fromAI('targetAudience', 'The target audience for the blog.', 'string') }}",
            "chatID": "={{ $('Telegram Trigger').item.json.message.chat.id || 'web' }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1008,
        192
      ],
      "id": "2aab30b8-1b43-46fe-9c07-e8dda6fa051d",
      "name": "Blog Post"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cc35aadf-240c-4926-bc6e-767df58bc32c",
      "name": "Set 'Text'",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        -144
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "fc04446b-a179-401c-b6ea-372ef5073bb8",
      "name": "Download Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        -336
      ],
      "webhookId": "c0b376b1-7b63-41b6-8063-0b3096b8333d",
      "credentials": {
        "telegramApi": {
          "id": "AlNHWis8xwOC4GC5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "0f6c3aec-5041-4b90-8486-21a3fa3d8198",
      "name": "Transcribe Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        816,
        -336
      ],
      "credentials": {
        "openAiApi": {
          "id": "0aWSB59G5wjFLITf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "ee3280f1-be9f-4468-a5af-ef8180d3353a",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        144,
        -240
      ],
      "webhookId": "99eab1a0-569d-4f0f-a49e-578a02abfe63",
      "credentials": {
        "telegramApi": {
          "id": "AlNHWis8xwOC4GC5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text || $json.body.prompt }}",
        "options": {
          "systemMessage": "## Overview\nYou are an AI agent assisting the marketing team. Your primary responsibilities include generating or editing images, producing content, and creating videos based on user input.\n\n## Tools\n- createImage – Use this tool to generate a new image based on the user's prompt.\n- editImage – Use this tool to modify an existing image. Users might refer to this as \"edit\" or \"make.\"\n- Image Database – Use this to search for existing images.\n- blogPost – Use this to create a blog article.\n- createVideo – Use this to produce a video.\n- heyGen - Use this to send Cold Heygen Video Outreach to Linkedin Leads(Apollo) via Cold Emailing\n- backLinks - Use this to send backlinking request\n- viralContentIdeaGenerator - Use this to generate viral content ideas for the specified niche\n- postToAllSocialMedia - Use this to post or publish to all our social medias\n- Think – Use this if assistance is needed in making a decision.\n\n## Instructions\n- When the user says \"edit that image\" or \"make that...\", interpret it as a request to edit the most recent image found in the Image Database.\n- If a blog post is requested, use the respective blogPost tool. While also responding with \"Here is the Post you requested for\"\n\n## Output Guidelines\n- Always return image links in a clickable format.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1136,
        -32
      ],
      "id": "eb2bd980-b8c0-4cba-a261-77a17107c9b5",
      "name": "Marketing Team Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        1136,
        192
      ],
      "id": "4397f656-9c72-465b-bed0-d9d84186cc11",
      "name": "Think"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        496,
        192
      ],
      "id": "a13803bb-8709-45e3-83b6-75046b3ec044",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0aWSB59G5wjFLITf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c844924-b2ed-48b0-935c-c66a8fd0c778",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "id": "2bd94e30-b75c-448e-9b58-67f24c67e2e5",
      "name": "Switch Voice or Text",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        368,
        -240
      ]
    },
    {
      "parameters": {
        "name": "createImage",
        "description": "Call this tool to create an image.",
        "workflowId": {
          "__rl": true,
          "value": "4fJe8e0VO72ZCsCS",
          "mode": "list",
          "cachedResultName": "Shared Folder — Create an Image - Sub Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatID": "={{ $('Telegram Trigger').item.json.message.chat.id || 'web' }}",
            "imagePrompt": "={{ $fromAI('imagePrompt', 'The image requested by the user', 'string') }}",
            "imageTitle": "={{ $fromAI('imageTitle', 'The title of the image. Should be no more than 4 words.', 'string') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1264,
        192
      ],
      "id": "bf6733fa-43a2-410f-b939-6f6e3a331362",
      "name": "Create An Image"
    },
    {
      "parameters": {
        "name": "heyGen",
        "description": "Call this tool to send Cold Heygen Video Outreach to Linkedin Leads(Apollo) via Cold Emailing",
        "workflowId": {
          "__rl": true,
          "value": "rZGEHHIgv6KPpk5F",
          "mode": "list",
          "cachedResultName": "Shared Folder — HeyGen Cold Email - Sub Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $fromAI('query', 'Query to send Heygen Cold emailing videos', 'string') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1392,
        240
      ],
      "id": "6a48fb7b-741c-4c2d-be6e-dc7bba1ddc46",
      "name": "Heygen Video Cold Outreach"
    },
    {
      "parameters": {
        "name": "backLinks",
        "description": "Call this tool for Backlinking requests",
        "workflowId": {
          "__rl": true,
          "value": "Sfaj3Xh7wTDhoQ3K",
          "mode": "list",
          "cachedResultName": "Shared Folder — BackLinks: Sub Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Niche": "={{ $fromAI('Niche', 'The niche to do the backlinking for', 'string') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1504,
        192
      ],
      "id": "ab1f6edb-5150-4a8d-a63e-835a490a3d39",
      "name": "BackLinking"
    },
    {
      "parameters": {
        "name": "viralContentIdeaGenerator",
        "description": "Call this tool for Viral Content Idea Generating",
        "workflowId": {
          "__rl": true,
          "value": "QrT03KilQtEOP2Rt",
          "mode": "list",
          "cachedResultName": "Shared Folder — Viral Content Idea Generator: Sub Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "instagram_niche": "={{ $fromAI('instagram_niche', 'The niche we want to get Viral Content Ideas for', 'string') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1648,
        192
      ],
      "id": "9e069763-efb8-44ca-92f2-4c1e4b7d8a78",
      "name": "Viral Content Idea G"
    },
    {
      "parameters": {
        "name": "postToAllSocialMedia",
        "description": "Call this tool for posting or Publishing content to all our social medias",
        "workflowId": {
          "__rl": true,
          "value": "1OJnENEY1eh2B7eO",
          "mode": "list",
          "cachedResultName": "Shared Folder — Blotato Social Media Posting: SubAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "social_media_query": "={{ $fromAI('social_media_query', 'The video or Image we want to post or publish to all our social medias', 'string') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1776,
        240
      ],
      "id": "2d2269f6-2ad6-4625-aaea-d15b7ffa40bd",
      "name": "Post to All Social Media"
    },
    {
      "parameters": {
        "name": "createVideo",
        "description": "Call this tool to create a video.",
        "workflowId": {
          "__rl": true,
          "value": "teKlkVNcEUdWrxHq",
          "mode": "list",
          "cachedResultName": "Shared Folder — Veo3 Video Generation - Sub Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "videoTopic": "={{ $fromAI('videoTopic', 'The topic of the Ad video plus other context', 'string') }}",
            "chatID": "={{ $('Telegram Trigger').item.json.message.chat.id || 'web' }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1904,
        192
      ],
      "id": "10549425-721a-4807-80f4-97c2486ee9eb",
      "name": "Create An Ad Video"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2160,
        -144
      ],
      "id": "25f7d152-f7ae-43b5-93a2-7698cadef105",
      "name": "Send to Telegram",
      "webhookId": "fbdb3bd7-490b-4d3e-961e-e2d398294649",
      "credentials": {
        "telegramApi": {
          "id": "AlNHWis8xwOC4GC5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "5e6ea04b-fbb3-4289-a8ab-81c29c9a56e6",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        -32
      ],
      "id": "7645c552-af3f-4f04-8ee7-fc400d599f86",
      "name": "Webhook",
      "webhookId": "5e6ea04b-fbb3-4289-a8ab-81c29c9a56e6"
    },
    {
      "parameters": {
        "url": "={{ $env.MARKETING_OS_WEBHOOK_URL || 'http://localhost:3000/api/webhooks/n8n-callback' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"campaignId\": \"{{ $('Webhook').item.json.body.campaignId || 'telegram' }}\",\n  \"status\": \"completed\",\n  \"generatedContent\": {\n    \"text\": \"{{ $json.output }}\",\n    \"timestamp\": \"{{ new Date().toISOString() }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        64
      ],
      "id": "callback-to-marketing-os",
      "name": "Callback to Marketing OS",
      "credentials": {
        "httpHeaderAuth": {
          "id": "callback-secret",
          "name": "Marketing OS Callback Secret"
        }
      }
    },
    {
      "id": "d3d5e1b5-4a1f-4a0c-8c32-65d0f4a8a1c1",
      "name": "Research Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        208
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "marketing-os-research",
        "options": {}
      },
      "webhookId": "marketing-os-research"
    },
    {
      "id": "2f3a7a8d-1d0b-4c0e-8b18-8b9b6d5e4f27",
      "name": "Set Research Query",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        208
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b0648b5-9f18-4d1c-a502-6c6c4c1d92df",
              "name": "organizationId",
              "value": "={{ $json.body.organizationId }}",
              "type": "string"
            },
            {
              "id": "5d680b5d-57ce-4a25-9184-7f1caa5c7c7b",
              "name": "projectId",
              "value": "={{ $json.body.projectId }}",
              "type": "string"
            },
            {
              "id": "cb0b1f03-0b1b-4f30-a33b-1e6e7a2d1e18",
              "name": "industry",
              "value": "={{ $json.body.industry }}",
              "type": "string"
            },
            {
              "id": "0a8e0cc9-05f5-4a62-b503-3dd84b9cda3e",
              "name": "callbackUrl",
              "value": "={{ $json.body.callbackUrl }}",
              "type": "string"
            },
            {
              "id": "3f5db3d6-120e-4df0-9b5d-9e8e1da834b7",
              "name": "queryUrl",
              "value": "={{ \"https://news.google.com/rss/search?q=\" + encodeURIComponent($json.body.industry + \" marketing\") + \"&hl=en-US&gl=US&ceid=US:en\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "9e1aa5cc-6b1b-4f10-8e8c-6d6f5b5d2e3c",
      "name": "Read Research RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        816,
        120
      ],
      "parameters": {
        "url": "={{ $json.feedUrl }}"
      }
    },
    {
      "id": "b0f1f7e1-1b6f-4a31-9f7a-0edc3f0b2a11",
      "name": "Send Research Sources",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        120
      ],
      "parameters": {
        "url": "={{ $json.callbackUrl }}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { organizationId: $json.organizationId, projectId: $json.projectId, industry: $json.industry, sources: $json.sources } }}",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + ($env.MARKETING_OS_RESEARCH_CALLBACK_SECRET || $env.N8N_CALLBACK_SECRET || \"\") }}"
            }
          ]
        }
      }
    },
    {
      "id": "0f6d2e14-6b1a-4c2a-8e8f-44d4b8aa0d91",
      "name": "Build Feed List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        120
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const payload = $node[\"Set Research Query\"].json;\nconst slug = (payload.industry || '').toLowerCase();\nconst baseFeeds = [\n  'https://news.google.com/rss/search?q=' + encodeURIComponent(payload.industry + ' marketing') + '&hl=en-US&gl=US&ceid=US:en',\n  'https://news.google.com/rss/search?q=' + encodeURIComponent(payload.industry + ' trends') + '&hl=en-US&gl=US&ceid=US:en',\n  'https://news.google.com/rss/search?q=' + encodeURIComponent(payload.industry + ' consumer behavior') + '&hl=en-US&gl=US&ceid=US:en'\n];\nconst feedMap = {\n  'mental-health-substance-abuse': [\n    'https://news.google.com/rss/search?q=mental%20health%20marketing&hl=en-US&gl=US&ceid=US:en',\n    'https://news.google.com/rss/search?q=behavioral%20health%20policy&hl=en-US&gl=US&ceid=US:en',\n    'https://news.google.com/rss/search?q=substance%20use%20treatment%20trends&hl=en-US&gl=US&ceid=US:en'\n  ],\n  'food-restaurant': [\n    'https://news.google.com/rss/search?q=restaurant%20industry%20trends&hl=en-US&gl=US&ceid=US:en',\n    'https://news.google.com/rss/search?q=food%20service%20marketing&hl=en-US&gl=US&ceid=US:en',\n    'https://news.google.com/rss/search?q=consumer%20dining%20behavior&hl=en-US&gl=US&ceid=US:en'\n  ],\n  'cannabis': [\n    'https://news.google.com/rss/search?q=cannabis%20marketing%20trends&hl=en-US&gl=US&ceid=US:en',\n    'https://news.google.com/rss/search?q=cannabis%20industry%20sales%20data&hl=en-US&gl=US&ceid=US:en',\n    'https://news.google.com/rss/search?q=cannabis%20regulation%20advertising&hl=en-US&gl=US&ceid=US:en'\n  ],\n  'healthcare': [\n    'https://news.google.com/rss/search?q=healthcare%20marketing%20trends&hl=en-US&gl=US&ceid=US:en',\n    'https://news.google.com/rss/search?q=patient%20engagement%20statistics&hl=en-US&gl=US&ceid=US:en',\n    'https://news.google.com/rss/search?q=telehealth%20market%20data&hl=en-US&gl=US&ceid=US:en'\n  ],\n  'graphic-design-marketing-advertising-agency': [\n    'https://news.google.com/rss/search?q=creative%20agency%20trends&hl=en-US&gl=US&ceid=US:en',\n    'https://news.google.com/rss/search?q=advertising%20industry%20spend%20data&hl=en-US&gl=US&ceid=US:en',\n    'https://news.google.com/rss/search?q=brand%20strategy%20case%20study&hl=en-US&gl=US&ceid=US:en'\n  ]\n};\nconst feeds = [...baseFeeds, ...(feedMap[slug] || [])];\nconst uniqueFeeds = Array.from(new Set(feeds));\nreturn uniqueFeeds.map(feedUrl => ({ json: { feedUrl, payload } }));"
      }
    },
    {
      "id": "5f0d5b94-7a43-4f1c-9d5b-2c1b0d1b2f44",
      "name": "Normalize Research Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        120
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const payload = $input.first().json.payload || $node[\"Set Research Query\"].json;\nconst items = $input.all().map(item => ({\n  title: item.json.title,\n  url: item.json.link,\n  publisher: item.json.source || item.json.creator || 'Google News',\n  summary: item.json.contentSnippet || item.json.content || item.json.description || ''\n}));\nconst seen = new Set();\nconst unique = [];\nfor (const item of items) {\n  const key = (item.title || item.url || '').toLowerCase();\n  if (!key || seen.has(key)) continue;\n  seen.add(key);\n  unique.push(item);\n}\nreturn [{ json: {\n  organizationId: payload.organizationId,\n  projectId: payload.projectId,\n  industry: payload.industry,\n  callbackUrl: payload.callbackUrl,\n  sources: unique.slice(0, 25)\n}}];"
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Images": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Blog Post": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice File": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 'Text'": {
      "main": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch Voice or Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marketing Team Agent": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Callback to Marketing OS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch Voice or Text": {
      "main": [
        [
          {
            "node": "Download Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set 'Text'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create An Image": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Heygen Video Cold Outreach": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "BackLinking": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Viral Content Idea G": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Post to All Social Media": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create An Ad Video": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Webhook": {
      "main": [
        [
          {
            "node": "Set Research Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Research Query": {
      "main": [
        [
          {
            "node": "Build Feed List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Research RSS": {
      "main": [
        [
          {
            "node": "Normalize Research Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Feed List": {
      "main": [
        [
          {
            "node": "Read Research RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Research Sources": {
      "main": [
        [
          {
            "node": "Send Research Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "updated-with-callback",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "your-instance-id"
  },
  "tags": []
}